@model GestionPanneGarageMvcWeb.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_Default1.cshtml";
}
@Html.Raw(TempData["msg"])
<div  style="text-align:center;">
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:rgb(0, 255, 255)">
<h3><i><b>Visualisation sur la detail client</b></i></h3>

<fieldset>
   <legend><u><i><b>Liste sur client</b></i></u></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomClient)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomClient)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prenomclient)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prenomclient)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adresse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adresse)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index1")
</p>
</div>
    </div>