@model IEnumerable<GestionPanneGarageMvcWeb.Models.Article>
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<!Doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Affichage de la liste des articles</title>
</head>
<body>
 <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:rgb(0, 255, 255)">
 <div class="table-responsive">
<div class="container mt-15">
  <div class="mt-3">
         <h3 style="background-color:rgb(255, 255, 255); text-align: center;resize:horizontal;"><i><b><u>Listes des Articles</u></b></i></h3>
        <a href="@Url.Action("Create","Articles")" class=" btn btn-sm  btn-success"><i class="fa fa-plus mr-2"></i>Nouveau Article</a>
     <table class="table table-bordered" id="users-list">
       <thead class="table-dark">
         <tr>
             <th>No</th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriesArticle.NomCategorieArticle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesVehicule.DescriptionsVehicules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomArticle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixUnitaire)
        </th>
        <th>Action</th>
    </tr>
           </thead>
         <tbody>
             @{
                 int no = 0;
             }
        @foreach (var item in Model)
        {
            no++;
            <tr>
          <td>@no</td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriesArticle.NomCategorieArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypesVehicule.DescriptionsVehicules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixUnitaire)
        </td>
         <td>
           <div class="dropdown">
               <span class="dropdown-toggle dropdown-bg btn btn-outline-primary" role="button" id="dropdownMenuButton5"
                                      data-toggle="dropdown" aria-expanded="false">
                                    Actions
                 </span>
                   <div class="dropdown-menu dropdown-menu-right shadow-none" aria-labelledby="dropdownMenuButton5">
                       @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class="btn btn-info fa fa-pencil"})
                       @Html.ActionLink("Details", "Details", new { id=item.Id },new {@class="btn btn-success fa fa-check"}) 
                       @Html.ActionLink("Delete", "Delete", new { id=item.Id },new {@class="btn btn-danger fa fa-trash"})
                    </div>
             </div>
           </td>
            </tr>
        }
       
       </tbody>
     </table>   
      </div>
  </div>
</div>
 </div>
</body>
</html>
@section scripts
{
    <script src="~/Scripts/Datatables.js"></script>
}