<!DOCTYPE html>
<html>
@RenderPage("~/Views/Partials/_Head.cshtml")
<body>
    @RenderPage("~/Views/Partials/_Nav.cshtml")
    @RenderPage("~/Views/Partials/_Sidebar.cshtml")
    @RenderBody()

    @Scripts.Render("~/Assets/js")
    @RenderSection("Scripts",required:false)

	<script>
	    window.onload = function () {
	        var chart1 = document.getElementById("line-chart").getContext("2d");
	        window.myLine = new Chart(chart1).Line(lineChartData, {
	            responsive: true,
	            scaleLineColor: "rgba(0,0,0,.2)",
	            scaleGridLineColor: "rgba(0,0,0,.05)",
	            scaleFontColor: "#c5c7cc"
	        });
	    };
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
	   var StrValue1 = "@((string)ViewBag.mssg)"
=======
	var StrValue1 = "@((string)ViewBag.mssg)"
>>>>>>> Templates
=======
	  var StrValue1 = "@((string)ViewBag.msg)"
>>>>>>> eb715f6 (Modificationd'un switalert)
=======
	  var StrValue1 = "@((string)ViewBag.msg)"
>>>>>>> Templates
	    if (StrValue1 !== null && StrValue1 !== '') {
	        swal({
	            title: "Bon Travail",
	            text: StrValue,
	            icon: "success",
	            button: true,
	            timer: 5000
	        });
	    }
	    var StrValue = "@((string)ViewBag.msSg)"
	    if (StrValue !== null && StrValue !== '')
	    {
	        swal({
	            title: "Bienvenue!!!!!",
	            text: StrValue,
	            icon: "success",
	            button: true,
                timer:5000
	        });
	    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        
=======
       
>>>>>>> Templates
=======
       
>>>>>>> eb715f6 (Modificationd'un switalert)
=======
       
>>>>>>> Templates
	</script>

</body>
</html>
