@model GestionPanneGarageMvcWeb.Models.CategoriesArticle

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
@Html.Raw(TempData["msg"])
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:rgb(0, 255, 255)">
<h3 style="background-color: yellow; text-align: center;resize:horizontal;"><i><b><u>Nouvelle Categorie Article</u></b></i></h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="col-md-5">
            <label><b style="font-size:20px;"><i>Nom Categorie Article:</i></b></label>
            <input type="text" name="NomCategorieArticle" placeholder="Entre Categorie Article"  required="required" value="" size="50" class="form-control">

            <label></label>
      </div>
@*        <div class="editor-label">
            @Html.LabelFor(model => model.NomCategorieArticle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomCategorieArticle)
            @Html.ValidationMessageFor(model => model.NomCategorieArticle)
        </div>*@
        <br/><br/><br/><br/><br/>
        <div class="col-md-3">
            <label> </label>
            <input type="submit" value="Save"  class="form-control btn btn-primary">
      </div>
    </fieldset>
}

<div style="font-size:30px;">
    @Html.ActionLink("Retour à la liste", "Index")
</div>
</div>
