@model GestionPanneGarageMvcWeb.Models.Reparation
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div  style="text-align:center;">
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:rgb(0, 255, 255)">
<h3><i><b>Mis a jour sur Reparation</b></i></h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><u><i><b>Liste sur Reparation</b></i></u></legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticlesId, "Article")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArticlesId", String.Empty)
            @Html.ValidationMessageFor(model => model.ArticlesId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PanneVehiculesId, "PanneVehicule")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PanneVehiculesId", String.Empty)
            @Html.ValidationMessageFor(model => model.PanneVehiculesId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantite)
            @Html.ValidationMessageFor(model => model.Quantite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateReparation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateReparation)
            @Html.ValidationMessageFor(model => model.DateReparation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EtatReparation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EtatReparation)
            @Html.ValidationMessageFor(model => model.EtatReparation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MontantTotal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MontantTotal)
            @Html.ValidationMessageFor(model => model.MontantTotal)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index1")
</div>
</div>
    </div>
